<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add 
      name="GalleryDatabase" 
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB; 
      AttachDbFilename=C:\Users\callu\source\repos\SDV701\ClassTutorial3\Database\Gallery_Data.mdf;
      Integrated Security=True;
      Connect Timeout=30; 
      Database=GALLERY_DATA.MDF"/>
  </connectionStrings>
  
</configuration>